/* Reset */
/* * {
        margin:0;
        padding:0;
        box-sizing: border-box;

    } */
.jumbotron-fluid {
    background-color: #e9dfd2;
    font-family:'poiret one';
}

.jumbotron-fluid h1,
p {
    color: black;
}

.jumbotron-fluid p {
    font-family: 'poiret one';
}

.content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: antiquewhite;
}

.media {
    background-color: beige;
}
.media img {
    height:200px;
    width: 200px;
    border-radius: 50%;
    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer:hover {}

footer ul {
    display: inline-flex;
    padding-top: 10px;
    list-style: none;
}

footer ul a {
    padding: 5px;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}